*{
	font-family: Arial,Helvetica,Sans-serif;
	box-sizing: border-box;
	padding: 0px;
}
h1{
	text-align: center;
}
section{
	background-color: #F5DEB3;
	border: solid black;
	margin: 0.3%;
}
body{
	margin:0.3%;
}
@media(min-width: 992px){
	.section_lg{
		position: relative;
		width: 32.5%;
		float:left;
	}
}
h2{
	position: absolute;
	right: 0px;
	top: 0px;
	border: solid black;
	margin: 0px;
}
p{
	clear: left;
	margin-top: 40px;
}
.chicken{
	background-color: #FF4500;
}
.beef{
	background-color: #FFD700;
}
.sushi{
	background-color: 	#FF7F50;
}
@media(min-width: 768px) and (max-width: 991px){
	.section_md{
		position: relative;
		width: 49.4%;
		float: left;
	}
	.section_md_3{
		position: relative;
		width: 99.4%;
		float: left;
	}
}
@media(max-width: 767px){
	.section_sm{
		position: relative;
		width: 99.4%;
		float: left;
	}
}
